@page
@model Mission09_jbuhler4.Pages.BuyModel
@{
}


<h2>Your Cart:</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dummy</td>
            <td>Data</td>
            <td>For</td>
            <td>Table</td>
        </tr>
        <tr>
            <td>Dummy</td>
            <td>Data</td>
            <td>For</td>
            <td>Table</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>Dummy total</td>
        </tr>
    </tfoot>
</table>
<a class="btn btn-primary" href="@Model.ReturnUrl">Back to Shopping</a>