

/* The animation code */
@keyframes example {
    0% {
        transform: translate(0);
        transform: rotate(0);
    }
    /*Initial tilt to the left makes it look like the book is winding up and preparing for the animation*/
    20% {
        transform: translate(0);
        transform: rotate(-50deg);
    }

    30% {
        transform: translate(0);
        transform: rotate(30deg);
    }

    75% {
        transform: rotate(50deg);
        transform: translate(75px);
    }

    100% {
        transform: translate(0);
        transform: rotate(0);
    }
}

/* The element to apply the animation to */
.animate-left-right {
    position: relative;
    animation-name: example;
    animation-duration: 2s;
}
